

/* */

/* This is the label that contains the email */
/* Specific to kano-login */
.confirm_email {
    font: Bariol Bold 14px;
    color: @title_color;
}

.confirm_email_info {
    font: Bariol 14px;
    color: @subheading_color;
}

.bold_label {
    font: Bariol Bold 14px;
    color: @title_color;
}

.desc_label {
    font: Bariol 14px;
    color: @subheading_color;
}
