/* QuestScreen styling */

/********** Quests screen ********/

.quest_screen_background {
    background: #dddddd;
    color: #dddddd;
}

.quest.reward {
    color: #555555;
    font: Bariol 17;
}

.quest.completed {
    background: @kano_green_lighter;
}

.quest.not_fulfilled {
    background: #ffffff;
}

.quest.not_fulfilled.hover {
    background: #eeeeee;
}

.quest_item_title {
    font: Bariol bold 19px;
    color: #111111;
}

.quest_item_rewards {
    font: Bariol 15;
    color: #777777;
}

.quest_step_label {
    font: Bariol bold 15;
    color: #444444;
}

.quest_step_label.fulfilled {
    font: Bariol bold 15;
    color: @kano_green;
}

.quest_info_title {
    font: Bariol Bold 18px;
    color: #111111;
}
/******************************************/

.progress_outer_ring {
    background: @kano_green_darker;
    border-radius: 22px;
}

.progress_white_section {
    background: #D3B28C;
    border-radius: 17px;
}

.progress_centre_filled, .progress_centre_unfilled {
    border-radius: 12px;
}

.progress_centre_filled {
    background: @kano_green_darker;
}

.progress_centre_unfilled {
    background: #D3B28C;
}

.progress_linker {
    background: @kano_green;
    border-radius: 2px;
}

/******************************************/

.quest_section {
    background: #ffffff;
}

/******************************************/

.rewards_title {
    font: Bariol bold 15px;
}

/*******************************************/
.section_title {
    font: Bariol Bold 20px;
}
