/* QuestScreen styling */

/********** Quests screen ********/

.quest_screen_background {
    background: #dddddd;
}

.quest.objective {
    color: #555555;
    font: Bariol bold 17;
}

.quest.reward {
    color: #555555;
    font: Bariol 17;
}

.quest.completed {
    background: @kano_green_lighter;
}

.quest.not_fulfilled {
    background: #ffffff;
}

.quest.not_fulfilled.hover {
    background: #eeeeee;
}

.quest_info_title {
    font: Bariol bold 15;
    color: #111111;
}

.quest_info_rewards, .quest_info_description {
    font: Bariol 15;
    color: #777777;
}

.quest_step_label {
    font: Bariol 15;
    color: #777777;
}

.quest_step_label.fulfilled {
    font: Bariol 15;
    color: @kano_green;
}
/******************************************/

.progress_outer_ring {
    background: @kano_green;
    border-radius: 15px;
}

.progress_white_section {
    background: #ffffff;
    border-radius: 10px;
}

.progress_centre_filled, .progress_centre_unfilled {
    border-radius: 5px;
}

.progress_centre_filled {
    background: @kano_green;
}

.progress_centre_unfilled {
    background: #ffffff;
}

.progress_linker {
    background: @kano_green;
    border-radius: 2px;
}

.progress_title {
    font: Bariol Bold 18px;
}

/******************************************/

.quest_section {
    background: #ffffff;
}

/******************************************/

.rewards_title {
    font: Bariol bold 15px;
}

/*******************************************/
.section_title {
    font: Bariol Bold 20px;
}
