*.pyc
/kano
**.DS_Store
*.swp
*.so*
*.dylib
*.mo
*~

# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out

# Ignore locked versions of original files
media/images/environments/originals/**/*_locked.png
media/images/badges/originals/**/*_locked.png

po/messages.pot
